
<template name = "confirmarPartido">
    <div class="container">
      <div class="container">
        <!--Alert de reserva creada-->
        <div class="alert alert-success alert-dismissible" role="alert" id="alertReservaCreada" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Reserva creada!!</strong> Agregate a un equipo.
        </div>
      <!-- Alert de que se invitaron nuevos jugadores -->
      <div class="alert alert-success alert-dismissible" role="alert" id="alertNuevosJugadores" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Se invitaron jugadores!!</strong>
        </div>
			<!--Alert de Reserva actualizada-->
			<div class="alert alert-success alert-dismissible" role="alert" id="alertReservaActualizada" style="display: none">
 				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
  			<strong>La reserva fue actualizada con éxito!!</strong>Todos los invitados fueron notificados.
			</div>

        
      <h2 align="center">Confirmar partido</h2>
        
      <div class="well"> 
          <div class="row">
              <div class="span5 col-md-4">
                  <h4>El usuario que te invitó es <strong>{{reservaSeleccionada.nom_usuario}}</strong></h4>
              </div>
              <div class="span5 col-md-4">
                  <h4>Van a jugar en <strong>{{reservaSeleccionada.nom_recinto}}</strong></h4>
              </div>
              <div class="span5 col-md-4">
                  <h4>En la cancha número<strong> {{reservaSeleccionada.num_cancha}}</strong></h4>
              </div>
          </div>
          <div class="row">
              <div class="span5 col-md-4">
                  <h4>Cantidad de jugadores por equipo<strong> {{cantJugadores}}</strong></h4>
              </div>
              <div class="span5 col-md-4">
                  <h4>El día<strong> {{reservaSeleccionada.fecha_de_juego}}</strong></h4>
              </div>
              <div class="span5 col-md-4">
                  <h4>A las<strong> {{reservaSeleccionada.hora_de_juego}} horas</strong></h4>
              </div>
              <div class="span5 col-md-4">
              </div>
          </div>
          <br>
          <div class="row">
              <div class="span5 col-md-4">
                  <h3 align="center">Equipo A</h3>
                  <br>
                  Lugares disponibles:{{disponibleA}}
                  <br>
                  <ul>
                        {{#each equipoA}}
                            
                        <li>{{this.nombre}}</li>
                            
                        {{/each}}
                             
                   </ul>
              </div>  
              <div class="span5 col-md-3">
              </div>
              <div class="span5 col-md-4">
                  <h3 align="center">Equipo B</h3>
                  <br>
                  Lugares disponibles:{{disponibleB}}
                  <br>
                  <ul>
                        {{#each equipoB}}
                            
                        <li>{{this.nombre}}</li>
                            
                        {{/each}}
                             
                   </ul>       
              </div>
          </div>
          <div class="row">
              <div class="span5 col-md-4">
                  <div class="btn-group" role="group" aria-label="...">

                  {{#if disponibleA}}
                    {{#if isInvitado}}
                      <button type="button" name="agregarEquipoA" id="agregarEquipoA" class="btn btn-success">Agregar a equipo A</button> 
                      <br>
                    {{/if}}
                  {{else}}
                    <h3>Equipo A completo</h3>                     
                  {{/if}}
                  {{#if isEquipoA}}
                      <button type="button" name="eliminarEquipoA" id="eliminarEquipoA" class="btn btn-danger">Eliminar de equipo A</button> 
                  {{/if}}
                  </div>
              </div>  
              <div class="span5 col-md-3">                  
              </div>
              <div class="span5 col-md-4">
                  <div class="btn-group" role="group" aria-label="...">
                    {{#if isEquipoB}}
                      <button type="button" name="eliminarEquipoB" id="eliminarEquipoB" class="btn btn-danger">Eliminar de equipo B</button> 
                    {{/if}}
                  
                  {{#if disponibleB}}
                    {{#if isInvitado}}
                      <button type="button" name="agregarEquipoB" id="agregarEquipoB" class="btn btn-success">Agregar a equipo B</button> 
                      <br>
                    {{/if}}
                  {{else}}
                    <h3>Equipo B completo</h3>                   
                  {{/if}}     
                  </div>
              </div>
              <br>
              {{#if lleno}}
                {{#unless isConfirmado}}
                  {{#unless isSuplente}}
                    <button type="button" name="suplente" id="suplente" class="btn btn-default">Agregar a la lista de suplentes</button> 
                  {{/unless}}
                {{/unless}}
              {{/if}}
          </div>
          <br>  
          Suplentes:
          {{#if suplente}}
            {{#each suplente}}
                {{this.profile.name}},{{this.profile.player.position}}<br>
            {{/each}}
          {{else}}
            Sin suplentes
          {{/if}} 
          <br>   
          {{#unless isNoJuega}}
            <button type="button" name="noJuega" id="noJuega" class="btn btn-danger">No quiero jugar</button>
            <br>
          {{else}}
            Dijiste que no querías jugar, pero puedes comunicarte con el organizador para que vuelva a invitarte.
          {{/unless}}
          <div>
          {{#if isHostHostSecundario}}
            <h4>Invitar más jugadores.</h4>
            {{#if jugadoresNoInvitados}}
                <div claas="checkbox">
                
                {{#each jugadoresNoInvitados}}
                                
                  <input type="checkbox" id="checkboxFriends" name="friend" value="{{#each this.emails}}{{this.address}}{{/each}}"> {{this.profile.name}},{{this.profile.player.position}} <br>

                  {{#if isHost}}
                    <div id="checkboxRolesDiv">
                        <input id="checkboxRoles" type="checkbox" name="gameRoles" value="{{#each this.emails}}{{this.address}}{{/each}}">  Host <br>
                    </div>
                        <!--Se agrega este script para ocultar o mostrar el checkbox host dependiendo si el amigo fue seleccionado o no. Falta ver como hacer para que funcione bien, queda comentado-->
                    <script> 
                        var elem = document.getElementById('checkboxRolesDiv'),
                        checkBox = document.getElementById('checkboxFriends');
                        checkBox.checked = false;
                        checkBox.onchange = function doruc() {
                        elem.style.display = this.checked ? 'inline' : 'none';
                        };
                        checkBox.onchange();
                    </script>
                  {{/if}}
                {{/each}} 

                <button type="button" name="invitarJugadores" id="invitarJugadores" class="btn btn-default">Invitar</button>
                </div>
            {{else}}
                <div>
                Ya invitaste a todos tus jugadores.
                </div>
            {{/if}}  
          {{/if}}           
          </div>
          
    </div>  
  </div>  
  </div>  
</template>