<template name = "confirmarPartido">
    <div class="container-fluid">
        <!--Modal de esta seguro que no quiere jugar-->
        <div id="seguroDeNoJugar" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">¿Estas seguro de...</h4>
                    </div>
                    <div class="modal-body">
                        <p>...que desea rechazar la invitación ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-propio" data-dismiss="modal">No</button>
                        <button id="noJuega" type="button" class="btn btn-propioV" data-dismiss="modal">Sí</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal de esta seguro cancelar reserva-->
		<div id="cancelarReservaModal" class="modal fade bs-examplxe-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">¿Estas seguro de...</h4>
                    </div>
                    <div class="modal-body">
                        <p>...que quieres cancelar la reserva?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-propio" data-dismiss="modal">No</button>
                        <button id="cancelarReserva" name="cancelarReserva" type="button" class="btn btn-propioV" data-dismiss="modal">Sí</button>
                    </div>
                </div>
            </div>
		</div>

        <!--Alert de reserva creada-->
        <div class="alert alert-success alert-dismissible" role="alert" id="alertReservaCreada" style="display: none; margin-top: -20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Reserva creada!!</strong> Agregate a un equipo.
        </div>
        <!-- Alert de que se invitaron nuevos jugadores -->
        <div class="alert alert-success alert-dismissible" role="alert" id="alertNuevosJugadores" style="display: none; margin-top: -20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Se invitaron jugadores!!</strong> Ya fueron notificados.
        </div>
        <!--Alert de Reserva actualizada-->
        <div class="alert alert-success alert-dismissible" role="alert" id="alertReservaActualizada" style="display: none; margin-top: -20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        <strong>La reserva fue actualizada con éxito!!</strong>Todos los invitados fueron notificados.
        </div>
        <!--Alert de Confirmado a un partido -->
        <div class="alert alert-info alert-dismissible" role="alert" id="alertConfirmado" style="display: none; margin-top: -20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Confirmaste tu asistencia!</strong> Recorda avisar si no podés ir.!
        </div>
        <!--Alert de Eliminado de un equipo -->
        <div class="alert alert-warning alert-dismissible" role="alert" id="alertEliminado" style="display: none; margin-top: -20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Te diste de baja!</strong> Igualmente puedes volver a agregarte a un equipo cuando desees, si es que no hay suplentes esperando.
        </div>
        <!--Alert de Eliminado de un equipo -->
        <div class="alert alert-info alert-dismissible" role="alert" id="alertSuplente" style="display: none; margin-top: -20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Te añadiste a la lista de suplentes!</strong> Se te confirmará automaticamente si alguien se da de baja.
        </div>
        <div class="row">
            <legend>
                <h2 align="center">Confirmar partido</h2>
            </legend>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <h4>El usuario que te invitó es <strong>{{reservaSeleccionada.nom_usuario}}</strong></h4>
            </div>
            <div class="col-sm-4 col-md-4">
                <h4>Van a jugar en <strong>{{reservaSeleccionada.nom_recinto}}</strong></h4>
            </div>
            <div class="col-sm-4 col-md-4">
                <h4>En la cancha número<strong> {{reservaSeleccionada.num_cancha}}</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <h4>Cantidad de jugadores por equipo<strong> {{cantJugadores}}</strong></h4>
            </div>
            <div class="col-sm-4 col-md-4">
                <h4>El día<strong> {{reservaSeleccionada.fecha_de_juego}}</strong></h4>
            </div>
            <div class="col-sm-4 col-md-4">
                <h4>A las<strong> {{reservaSeleccionada.hora_de_juego}} horas</strong></h4>
            </div>
            <div class="col-sm-4 col-md-4">
            </div>
    </div>
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <div class="row">
                    <legend>
                        <h3 align="center">Equipo A</h3>
                    </legend>
                </div>
                {{#if isPorJugar}}
                    <div class="row">
                        <h4>Lugares disponibles: <strong>{{disponibleA}}</strong></h4>
                    </div>
                {{/if}}
                <div class="row">
                  <ul>

                      {{#each equipoA}}
                      <li><strong>{{this.nombre}}</strong></li>
                      {{/each}}
                             
                  </ul>
                </div>
                <div class="row">
                    <div class="btn-group" role="group" aria-label="...">
                      {{#if isPorJugar}}        
                        {{#if disponibleA}}
                            {{#if isInvitado}}
                                <button type="button" name="agregarEquipoA" id="agregarEquipoA" class="btn btn-propio">Agregar a equipo A</button> 
                            {{/if}}
                            {{#if isEquipoA}}
                                <button type="button" name="eliminarEquipoA" id="eliminarEquipoA" class="btn btn-propioV">Eliminar de equipo A</button> 
                            {{/if}}
                        {{else}}
                            {{#if isEquipoA}}
                                <button type="button" name="eliminarEquipoA" id="eliminarEquipoA" class="btn btn-propioV">Eliminar de equipo A</button> 
                            {{/if}}
                        
                            <h3>Equipo A completo</h3>                     
                        {{/if}}
                      {{/if}} 
                    </div>
                </div>  
            </div>  
            <div class="col-sm-2 col-md-2">
            </div>
            <div class="col-sm-5 col-md-5">
                <div class="row">
                    <legend>
                        <h3 align="center">Equipo B</h3>
                    </legend>
                </div>
                <div class="row">
                    {{#if isPorJugar}}
                        <h4>Lugares disponibles: <strong>{{disponibleB}}</strong></h4>
                    {{/if}}    
                </div>
                <div class="row">
                <ul>

                    {{#each equipoB}}
                    <li><strong>{{this.nombre}}</strong></li>
                    {{/each}}
                             
                </ul>
                </div>
                <div class="row">
                    <div class="btn-group" role="group" aria-label="...">
                        {{#if isPorJugar}}
                            {{#if disponibleB}}
                                {{#if isEquipoB}}
                                    <button type="button" name="eliminarEquipoB" id="eliminarEquipoB" class="btn btn-propioV">Eliminar de equipo B</button> 
                                {{/if}}
                                {{#if isInvitado}}
                                    <button type="button" name="agregarEquipoB" id="agregarEquipoB" class="btn btn-propio">Agregar a equipo B</button> 
                                {{/if}}
                            {{else}}
                                {{#if isEquipoB}}
                                    <button type="button" name="eliminarEquipoB" id="eliminarEquipoB" class="btn btn-propioV">Eliminar de equipo B</button> 
                            {{/if}}
                        
                            <h3>Equipo B completo</h3>                   
                            {{/if}}
                        {{/if}}     
                    </div>
                </div>         
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-5">
                {{#if isPorJugar}}
                    {{#if lleno}}
                        {{#unless isConfirmado}}
                            {{#unless isSuplente}}
                                {{#unless isNoJuega}}
                                    <button type="button" name="suplente" id="suplente" class="btn btn-propio">Agregar a la lista de suplentes</button>
                                {{/unless}} 
                            {{/unless}}
                        {{/unless}}
                    {{/if}}
                {{/if}}    
            </div>    
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <legend>
                    <h3 align="center">Suplentes:</h3>
                </legend>
                    {{#if suplente}}
                        {{#each suplente}}
                            {{this.profile.name}},{{this.profile.player.position}}<br>
                        {{/each}}
                    {{else}}
                        <h4 align="left">Sin suplentes</h4>                        
                    {{/if}}
            </div>
            <div class="col-sm-2 col-md-2">
            </div>
            <div class="col-sm-5 col-md-5">
                <div class="row">
                  {{#if isPorJugar}}  
                    <legend>
                        <h3 align="left">Invitar más jugadores.</h3>
                    </legend>
                  {{else}}
                    {{#if isJugada}}
                        <legend>
                            <h3 align="left">Este partido ya se jugó. </h3>
                        </legend>
                     {{/if}}
                     {{#if isCancelada}}
                        <legend>
                            <h3 align="left">Este partido fue cancelado. </h3>
                        </legend>
                     {{/if}}   
                  {{/if}}  
                </div>
                <div class="row">
                  {{#if isPorJugar}}  
                    {{#if isHostHostSecundario}}
                      
                          {{#if jugadoresNoInvitados}}
                              {{#each jugadoresNoInvitados}}

                                  <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="user" data-toggle-target="{{_id}}" value="{{#each this.emails}}{{this.address}}{{/each}}"> {{this.profile.name}},{{this.profile.player.position}}
                                    </label>
                                  </div>    
                                  
                                  <div class="checkbox hidden" data-toggle-visibility="{{_id}}">
                                    <label>
                                        <input type="checkbox" name="host" value="{{#each this.emails}}{{this.address}}{{/each}}"> Permiso para invitar a sus amigos
                                    </label>
                                  </div>
                              {{/each}} 
                              <button type="button" name="invitarJugadores" id="invitarJugadores" class="btn btn-propio" style="margin-bottom:10px;">Invitar</button>
                          {{else}}
                              <div>
                                  <h4 align="left">Ya invitaste a todos tus jugadores.</h4>
                              </div>
                          {{/if}}  
                    {{/if}}
                  {{/if}}           
                </div>
            </div>
        </div>         
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-12 col-md-12">    
                {{#if isPorJugar}}
                    {{#unless isNoJuega}}
                        <button type="button" id="landaId" class="btn btn-propioV" data-toggle="modal" data-target="#seguroDeNoJugar">No quiero jugar</button>
                    {{else}}
                        <h4 style="margin-bottom: 20px;">
                        <strong>Dijiste que no querías jugar, pero puedes comunicarte con el organizador para que vuelva a invitarte.</strong>
                        </h4>  
                    {{/unless}}
                {{/if}}
            </div>
        </div>
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            {{#if isPorJugar}}
                {{#if isHost}}
                    <div class="col-sm-2 col-md-2">
                        <button type="button" class="btn btn-propioV" name = "cancelar" id="lanzaIdReserva" data-toggle="modal" data-target="#cancelarReservaModal">Cancelar reserva</button>
                    </div>
                {{/if}}
            {{/if}}   
        </div>  
    </div>  
</template>