<template name="pruebaCalificar">
	<div class="survey-builder container">
      
      <hr/>
      <h3>Rating</h3>
      <input type="hidden" class="rating"/>
      <span style = "cursor:default;">
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		<span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		</span>

      		</div>
      		</div>

      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

            		<span class="glyphicon glyphicon-star" aria-hidden="true">
            			
            		</span>

      		</div>
      		</div>
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		    <span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		    </span>

      		</div>
      		</div>
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		    <span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		    </span>

      		</div>
      		</div>
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		    <span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		    </span>

      		</div>
      		</div>
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		    <span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		    </span>

      		</div>
      		</div>
      </span>
 			
      		<!-- probandooooooooooooooooooooooooooo -->

       <div style="padding:10px">
      <div>
            default mutable large 
      </div>                             
                      
           {{> starsRating id='rating' class ="estrella" mutable=true size='lg'}}        
      
      {{rati}}
          <button class="reset">reset</button>
      </div>
      
  
		
 
    
  </div>
</template>