<template name="pruebaCalificar">
	<div class="survey-builder container">
      <h2>Bootstrap rating</h2>
      <hr/>
      <h3>Default rating</h3>
      <span style = "cursor:default;">
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		<span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		</span>

      		</div>
      		</div>

      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		<span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		</span>

      		</div>
      		</div>
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		<span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		</span>

      		</div>
      		</div>
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		<span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		</span>

      		</div>
      		</div>
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		<span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		</span>

      		</div>
      		</div>
      	<div class="rating-symbol" style="display: inline-block; position: relative;">
      		<div class="rating-symbol-backround glyphicon glyphicon-star-empty" style="visibility: hidden;">

      		</div>

      		<div class="rating-symbol-foreground" style="display: inline-block; position: absolute;overflow: hidden;left: 0px;right: 0px;width: auto;">

      		<span class="glyphicon glyphicon-star" aria-hidden="true">
      			
      		</span>

      		</div>
      		</div>
      		</span>
 			
      		<!-- probandooooooooooooooooooooooooooo -->

      		
 
    </div>

     
</template>