<template name="modificarReservaPlayer">
	<div class="container-fluid">
		<!--Alert de reserva existente-->
		<div class="alert alert-danger alert-dismissible" role="alert" id="alertReservaExistente" style="display: none">
 			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
  			<strong>Reserva existente!!</strong>Ya existe otra reserva en el horario que desea.
		</div>

	    <div class="row">
	  		<legend>
	  			<h1 align="center">
		     		Modificar Organización de Partido 
			 	</h1>
			</legend>  
	    </div>
	    <div class="row">
        	<div class="col-sm-3 col-md-3">
        		<h4>Día de juego: <strong>{{reserva.fecha_de_juego}}</strong></h4>
        	</div>
        	<div class="col-sm-3 col-md-3">	
        		<h4>Hora de juego: <strong>{{reserva.hora_de_juego}}</strong></h4>
        	</div>
        	<div class="col-sm-3 col-md-3">
        		<h4>Cancha elegida: <strong>{{reserva.num_cancha}}</strong></h4>
        	</div>
        	<div class="col-sm-3 col-md-3">
        		<h4>Recinto: <strong>{{reserva.nom_recinto}}</strong></h4>
        	</div>
        </div>
	    {{#if reserva}}
	    <div class="form-group">
	    	<form class="reserva">
				<div class="row">						
				    <div class="col-sm-5 col-md-5">
					    <div class="form-group  {{errorClass 'nombreRecinto'}}">
					      	<h2>Seleccionar recinto*</h2>
					      	<div class="controls">
					      		<div class="input-group">
					          		<div class="input-group-btn">
					          			<button type="button" class="btn btn-propio dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recinto <span class="caret"></span></button>
                       					<ul class="dropdown-menu">

                           					{{#each recinto}}
                           					<li><a data-for-recinto="#nombreRecinto" data-for-id="{{_id}}">{{this.nombre_recinto}}</a></li>
                           					{{/each}}
                  
                       					</ul>
	                          		</div>         		
						          	<input name="nombreRecinto" id="nombreRecinto" type="button" value="" class="form-control"/>			        		
						        </div>
						        <span class="help-block">{{errorMessage 'nombreRecinto'}}</span>
						    </div>
						</div> 
					</div>	 				   
					<div class="col-sm-1 col-md-1">
    	            </div>    	              	
					<div class="col-sm-5 col-md-5">
					    <div class="form-group  {{errorClass 'nombreCancha'}}">
						    <h2>Seleccionar cancha*</h2>
	  			     	 	<div class="controls">
						     	<div class="input-group">
						     		<div class="input-group-btn">
	                           			 <button type="button" class="btn btn-propio dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cancha <span class="caret"></span></button>
	                        			<ul class="dropdown-menu">
	                        
	                          				{{#each cancha}}
	                  	     				<li><a data-for-cancha = "#nombreCancha">{{this.numero}}</a></li>
                              				{{/each}}    
                           				</ul>
                          			</div>
					          		<input name="nombreCancha" id="nombreCancha" type="button" value="" class="form-control"/>						          		
					          	</div>	
					          	<span class="help-block">{{errorMessage 'nombreCancha'}}</span>
					     	</div>
					   	</div>
					</div>   	 	 
			  	</div>
			  	<div class="row">		    	
		    		<div class="col-sm-5 col-md-5">
					    <h2>Elegí un día para jugar*</h2>
					    <div class="controls">
					    	<div class='input-group date'>
					       	  	<input name="datetimepicker" id="datetimepicker" type="button" value="" class="form-control"/>
					        	<span class="input-group-addon" id="datetimepicker-handle" data-picker-handle="#datetimepicker">
					       			<i class="glyphicon glyphicon-calendar"></i>
					      		</span>	
					      	</div>  	
					    </div>
					</div> 	 				    
				    <div class="col-sm-1 col-md-1">
				    </div>				    
				    <div class='col-sm-5 col-md-5'>
						<h2>Elegí un horario para jugar*</h2>
					    <div class="controls">
					    	<div class='input-group date'>
					        	<input name="datetimepicker3" id="datetimepicker3" type="button" value="" class="form-control"/>
					        	<span class="input-group-addon" data-picker-handle="#datetimepicker3">
					        		<i class="glyphicon glyphicon-time"></i>
                    </span>
					        </div>	
					    </div>
					</div> 				   
				</div>

				{{#unless reservaCancelada}}
					<div class="row">
						<div class="col-sm-1 col-md-1" style="margin-top: 10px;">
							<button type="submit" name="actualizarReserva" id="actualizarReserva" class="btn btn-propio">Actualizar</button>
						</div>
						<div class="col-sm-1 col-md-1" style="margin-top: 10px;">
							<button type="button" class="btn btn-propioV" name = "cancelar" id="cancelar">Cancelar</button>
						</div>
					</div>
				{{else}}
					<legend>
						<h3 align="left">No se puede modificar esta reserva</h3>
					</legend>
				{{/unless}}				
			</form>
		</div>
		{{/if}}     		
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 widget">
                    <p>Los campos que contienen (*) son obligatorios.</p>
                </div>
            </div>
        </div>  
    </footer>
</template>