<template name = "organizarPartido">
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12">
                <legend align="center"><h1>Organizar partido</h1></legend>
            </div>
	    </div>
		<!--Alert de reserva existente-->
		<div class="alert alert-danger alert-dismissible" role="alert" id="alertReservaExistente" style="display: none">
 			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
  			<strong>Reserva existente!!</strong>Ya existe otra reserva en el horario que desea.
		</div>

		
	    <div class="form-group">
	    	<form class="reserva">
	    			<div class="row">
	    				<div class="form-group  {{errorClass 'nombreDeLaReserva'}}">	
		    				<div class="col-sm-8 col-md-8">
						    	<h2>Nombre de la reserva</h2>
							    <div class="controls">
							    	<input type="text" name="nombreDeLaReserva" id="nombreDeLaReserva" class="form-control" placeholder="Nombre de la reserva" aria-describedby="basic-addon1">
							    	<span class="help-block">{{errorMessage 'nombreDeLaReserva'}}</span>				
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
						</div>		
					</div> 	
					<div class="row">						
					    <div class="col-sm-5 col-md-5">
					    	<div class="form-group  {{errorClass 'nombreRecinto'}}">
						      	<h2>Seleccionar un recinto</h2>
						      	<div class="controls">
						      		<div class="input-group">
						          		<div class="input-group-btn">
						          			<button type="button" class="btn btn-propio dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recinto <span class="caret"></span></button>
	                              					<ul class="dropdown-menu">
	                              					{{#each recinto}}
	                  
	                              					<li><a data-for-recinto="#nombreRecinto" data-for-id="{{_id}}">{{this.nombre_recinto}}</a></li>
	                  
	                              					{{/each}}
	                    
	                              					</ul>
	                          			</div>         		
						          		<input name="nombreRecinto" id="nombreRecinto" type="button" value="" class="form-control"/>        		
						          	</div>
						          	<span class="help-block">{{errorMessage 'nombreRecinto'}}</span>
						     	</div>
						    </div> 
					    </div>	 				   
					    <div class="col-sm-1 col-md-1">
    	              	</div>    	              	
					    <div class="col-sm-5 col-md-5">
					    	<div class="form-group  {{errorClass 'nombreCancha'}}">
						     	 <h2>Seleccionar una cancha</h2>
						     	 <div class="controls">
						     	 	<div class="input-group">
						     	 		<div class="input-group-btn">
	                             			 <button type="button" class="btn btn-propio dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cancha <span class="caret"></span></button>
	                              				<ul class="dropdown-menu">
	                              				{{#each cancha}}
	                  
	                             				 <li><a data-for-cancha = "#nombreCancha">{{this.numero}}</a></li>
	                  
	                              				{{/each}}    
	                              				</ul>
	                          			</div>
						          		<input name="nombreCancha" id="nombreCancha" type="button" value="" class="form-control"/>						          		
						          	</div>	
						          	<span class="help-block">{{errorMessage 'nombreCancha'}}</span>
						     	</div>
						   	</div>
						</div>   	 	 
				  	</div>
				  	<div class="row">		    	
			    		<div class="col-sm-5 col-md-5">
					      	<h2>Elegí un día para jugar</h2>
					      	<div class="controls">
					      		<div class='input-group date'>
					        	  	<input name="datetimepicker" id="datetimepicker" type="button" value="" class="form-control"/>
					        	  	<span class="input-group-addon" id="datetimepicker-handle" data-picker-handle="#datetimepicker">
					        	  		<i class="glyphicon glyphicon-calendar"></i>
					        	  	</span>	
					        	</div>  	
					     	</div>
					    </div> 	 				    
				    	<div class="col-sm-1 col-md-1">
				    	</div>				    
				    	<div class="col-sm-5 col-md-5">
					     	<h2>Elegí un horario para jugar</h2>
					     	<div class="controls">
					     		<div class='input-group date'>
					          		<input name="datetimepicker3" id="datetimepicker3" type="button" value="" class="form-control"/>
					          		<span class="input-group-addon" data-picker-handle="#datetimepicker3">
					          			<i class="glyphicon glyphicon-time"></i>
                            		</span>
					          	</div>	
					        </div>
					    </div>
					</div> 	
					<div class="row">
						<div class="col-sm-5 col-md-5">
							<h2>Invitar Amigos</h2>
				            <ul class="list-unstyled">
								{{#each amigos}}
									<div class="checkbox" style="margin-left: 20px;">
										<h4>
												<input type="checkbox" name="user" data-toggle-target="{{_id}}" value="{{#each this.emails}}{{this.address}}{{/each}}"> {{this.profile.name}},{{this.profile.player.position}}
										</h4>
									</div>    
									
									<div class="checkbox hidden" data-toggle-visibility="{{_id}}" style="margin-left: 40px;">
										<h4 style="color: #4d3f92;">
												<input type="checkbox" name="host" value="{{#each this.emails}}{{this.address}}{{/each}}"> Permiso para invitar a sus amigos
										</h4>
							    	</div>
								{{/each}} 
				            </ul>
				        </div>
			 		</div> 
				 	<div class="row">
						<div class="col-sm-1 col-md-1" style="margin-top: 10px;">
							<button type="submit" name="crear" id="crear" class="btn btn-propio">Reservar</button>
						</div>
						<div class="col-sm-1 col-md-1" style="margin-top: 10px;">
							<button type="button" class="btn btn-propioV" name = "cancelar" id="cancelar">Cancelar</button>
						</div>
					</div>	
			</form>			
		</div>     		
    </div>
</template>     