<!-- Renderizado de formulario definido en el simpleSchema para editProfile -->
<template name="editProfile">
    <div class="container">
        {{#autoForm schema="Schema.users" id="editProfile" doc=this type="method-update" meteormethod="completeProfile"}}
        <fieldset>
            <legend>Editar Perfil</legend>
            {{> afQuickField name="player.position" options = "allowed" noselect=false}}
            {{> afQuickField name="player.foot" options = "allowed" noselect=false}}
            {{> afQuickField name="player.height"}} {{> afQuickField name="player.weight"}}
            {{> afQuickField name="profile.birthday"}} {{> afQuickField name="profile.gender" options = "allowed" noselect=false}}
            {{> afQuickField name="profile.country.country"}} {{> afQuickField name="profile.country.province"}}
            {{> afQuickField name="profile.country.locality"}} {{> afQuickField name="profile.country.neighborhood"}}
            <div>
        
                <button type="submit" id="edit" class="btn btn-success " data-dismiss="alert">Guardar</button>
                <div class="alert alert-warning alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good. </div>
            </div>
            <br><br>
        </fieldset>
        {{/autoForm}}
    </div>
</template>