<template name= "dashboardPlayer">
	<div class="container">

		<div id="wrapper" class="active">
		<!-- Sidebar -->
	        <div id="sidebar-wrapper">
	  	        <ul id="sidebar_menu" class="sidebar-nav">
	      		     <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
	      		</ul>
	      		<li>
	      			<form class="navbar-form navbar-left">
	          			<div class="form-group">
	            			{{> search}}
	          			</div>
	        		</form>
	        	</li>
	        	<ul class="sidebar-nav" id="sidebar"> 
	          		<li><a name="perfil" id="perfil">Perfil<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
	          		<li><a href="{{pathFor 'organizarPartido'}}">Organizar partido<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
	        	</ul>
	      	</div>          
	      	<!-- Page content -->
	      	<div id="page-content-wrapper">
	        <!-- Keep all page content within the page-content inset div! -->
	        <br>
	        	<div class="page-content inset">
	          		<h2>Tus partidos</h2>
    		        <br>
        			<label class="control-label" for="nombreReserva">Seleccioná una reserva</label>
	        			<div class="controls">
	        			    <div class="input-group">
	        			        <div class="input-group-btn">
	        				        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleccionar reserva <span class="caret"></span></button>
	        	            	      	<ul class="dropdown-menu">
	        	                      		{{#each reserva}}
	        	                  
	        	                       		<li><a data-for-reserva = "#nombreReserva" data-reserva-id="{{_id}}">{{this.nom_reserva}}</a></li>
	        	                  
	        	                   	   		{{/each}}
	        	                   
	        	                   		</ul>
	        	                </div>         		
	        					<input name="nombreReserva" id="nombreReserva" type="button" value="" class="form-control"/>	          		
	        				</div>
	        			</div>
	        			<br>
	        			<div class="btn-group" role="group" aria-label="...">
       						 <button type="button" name="organizacionPartido" id="organizacionPartido" class="btn btn-success">Ir a la organización de partido</button> 
   						 </div> 
   						 <div class="btn-group" role="group" aria-label="...">
   						 <button type="button" name="modificar" id="modificar" class="btn btn-success">Modificar</button>
   						 </div>
   						 <div class="btn-group" role="group" aria-label="...">
   						 <button type="button" name="cancelar" id="cancelar" class="btn btn-success">Cancelar</button>
   						 </div>
  			    </div>  		  
    		</div>
		</div>
	</div>
</template>