<template name = "showProfile"> 
    <div class="container">
      <!--muestro datos del usuario-->
      <div class="row">{{user.profile.name}}</div>
      <div class="row">{{age}}</div>
      <div class="row">{{place}}</div>
      <br><br>
    {{#if ownProfile}} <!-- si es su propio perfil muestra el boton para que lo edite y sus amigos-->
      <button class="btn btn-primary" id="login-buttons-edit-profile">Editar Perfil</button>
      <br><br>
      {{> partido}}
      <br><br>
      <legend>Amigos</legend>
      {{#each amigos}}
        <a href="{{pathFor 'showProfile' _id=this._id}}">{{this.name}} <!--{{this.profile.name}}--></a> 
      {{/each}}
    {{else}}  <!-- sino muestra para que se ingresen comentarios sobre ese usuario-->
      {{> enterCommentsForPlayers}}
    {{/if}}
    <br><br>
    {{> showCommentsPlayers}} <!-- se muestran los comentarios hechos sobre el perfil que se esta viendo-->
  </div>
</template>
