<template name = "showProfile"> 
    <div class="container">
      <div class="row">{{user.profile.name}}</div>
      <div class="row">{{age}}</div>
      <div class="row">{{place}}</div>
      <br><br>
    {{#if ownProfile}}
      <button class="btn btn-primary" id="login-buttons-edit-profile">Editar Perfil</button>
    {{else}}
      {{> enterCommentsForPlayers}}
    {{/if}}
    <br><br>
    {{#if isInRole 'player'}}
    {{> partido}}
    {{/if}}
    {{#if isInRole 'owner'}}
    {{> gestionarReserva}}
    {{/if}}                         
    <br><br>
    {{> showCommentsPlayers}}

    {{#each amigos}}
      <a href="{{pathFor 'showProfile' _id=this._id}}">{{this.name}} <!--{{this.profile.name}}--></a>
    {{/each}}
  </div>
</template>
