/* CSS declarations go here */


.estrella .current-rating {
  color: #1bb3af;
}


.estrella .active {
  color: #4d3f92;
}

.carousel-inner { 
	text-align: center; 
	width: 100%;/* la imagen ocupa todo el carrousel*/
   	max-height: 400px;  /* la imagen ocupa todo el carrousel*/
}
.carousel .item > img { 
	display: inline-block; 
	width: 100%;/* la imagen ocupa todo el carrousel*/
	height: 100%;
}

.row{
	padding: 0 15px;
	margin: 0 -15px;
}