<template name = "confirmarPartido">
	<div class="container">
		<div class="navbar">
			<h2 align="center">
				Confirmar partido
			</h2>
		</div>
		<div class="row">
  			<div class="col-md-5">
  				<h4 align="center">
  					Equipo A
  				</h4>
  				<div class="col-md-10" >
  					<textarea class="form-control" rows="5">
  					
  					</textarea>
            <br>
            <p align="left"> Jugadores faltantes para completar el equipo:</p>
  				</div>
  			</div>
  			<div class="col-md-2" >
  				<br>
  				<br>
  				<div >
       				<button type="button" class="btn btn-success"> Agregar a equipo A
       				</button>
       			</div>       			
       			<br>
       			<div>
       				<button type="button" class="btn btn-success">Agregar a equipo B
       				</button>       				
       			</div>
       			<br> 		
           	</div>  				
  			<div class="col-md-5">
  				<h4 align="center">
  					Equipo B
  				</h4>
  				<div class="col-md-10 col-md-offset-2">	
  					<textarea class="form-control" rows="5">
  					
  					</textarea>				
            <br>
            <p align="left"> Jugadores faltantes para completar el equipo:</p>
  				</div>
  			</div>
  		</div>
      <div>
        <button type="button" class="btn btn-success"> Confirmar
        </button>
      </div>	
  	</div>	
</template>