<template name = "confirmarPartido">
    <div class="container">
  	   	
  		<h2 align="center">Confirmar partido</h2>
  		  
  		<div class="well"> 
          <div class="row">
              <div class="span5 col-md-4">
                  <h4>El usuario que te invito es {{reservaSeleccionada.nom_usario}}</h4>
              </div>
              <div class="span5 col-md-4">
                  <h4>Van a jugar en {{reservaSeleccionada.nom_recinto}}</h4>
              </div>
              <div class="span5 col-md-4">
                  <h4>En la cancha numero {{reservaSeleccionada.num_cancha}}</h4>
              </div>
          </div>
          <div class="row">
              <div class="span5 col-md-4">
                  <h4>El dia {{reservaSeleccionada.fecha_de_juego}}</h4>
              </div>
              <div class="span5 col-md-4">
                  <h4>A la hora {{reservaSeleccionada.hora_de_juego}}</h4>
              </div>
              <div class="span5 col-md-4">
              </div>
          </div>      
  		  <!--	<div class="row">
  				    <div class="form-group">	
    				    	<div class="span5 col-md-11">
    					     <br>
        					<label class="control-label" for="nombreReserva">Selecciona una reserva</label>
        					<br>
        						  <div class="controls">
        							    <div class="input-group">
        						          <div class="input-group-btn">
        						          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleccionar reserva <span class="caret"></span></button>
        	                       	<ul class="dropdown-menu">
        	                       		{{#each reserva}}
        	                  
        	                         		<li><a data-for-reserva = "#nombreReserva" data-reserva-id="{{_id}}">{{this.nom_reserva}}</a></li>
        	                  
        	                       		{{/each}}
        	                   
        	                       	</ul>
        	                   	</div>         		
        						    	    <input name="nombreReserva" id="nombreReserva" type="button" value="" class="form-control"/>	          		
        						      </div>        						     
        						  </div>
    					    </div> 
  			      </div>  		  
    		  </div>-->
      		<br>
      		<div class="row">
      			  <div class="span5 col-md-4">
      			     	<ul>
                        {{#each equipoA}}
                            
                        <li>{{this.nombre}}</li>
                            
                        {{/each}}
                             
                   </ul>
      		  	</div>	
        			<div class="span5 col-md-3">
<!--
                  <h4>Nombre usuario</h4>
          				<input name="nombreUsuario" id="nombreUsuario" type="button" value="{{reservaSeleccionada.nom_usario}}" class="form-control"/>
          				<br>
                  <h4>Nombre del recinto</h4>
          				<input name="nombreRecinto" id="nombreRecinto" type="button" value="{{reservaSeleccionada.nom_recinto}}" class="form-control"/>
          				<br>
                  <h4>Cancha reservada</h4>
          				<input name="numCancha" id="numCancha" type="button" value="{{reservaSeleccionada.num_cancha}}" class="form-control"/>
          				<br>
                  <h4>Hora elegida</h4>
          				<input name="diaDeJuego" id="diaDeJuego" type="button" value="{{reservaSeleccionada.hora_de_juego}}" class="form-control"/>
          				<br>
                  <h4>Dia elegido</h4>
          				<input name="horaDeJuego" id="horaDeJuego" type="button" value="{{reservaSeleccionada.fecha_de_juego}}" class="form-control"/>
          				<br>
-->
        			</div>
        			<div class="span5 col-md-4">
        			   	<ul>
                        {{#each equipoB}}
                            
                        <li>{{this.nombre}}</li>
                            
                        {{/each}}
                             
                   </ul>       
        			</div>
      		</div>
      		<div class="row">
        			<div class="span5 col-md-4">
          				<div class="btn-group" role="group" aria-label="...">
          						<button type="button" name="agregarEquipoA" id="agregarEquipoA" class="btn btn-success">Agregar a equipo A</button> 
          						<button type="button" name="eliminarEquipoA" id="eliminarEquipoA" class="btn btn-danger">Eliminar de equipo A</button> 
      					  </div>
        			</div>	
        			<div class="span5 col-md-3">                  
        			</div>
        			<div class="span5 col-md-4">
            			<div class="btn-group" role="group" aria-label="...">
          						<button type="button" name="eliminarEquipoB" id="eliminarEquipoB" class="btn btn-danger">Eliminar de equipo B</button> 
          						<button type="button" name="agregarEquipoB" id="agregarEquipoB" class="btn btn-success">Agregar a equipo B</button> 			
        					</div>
        			</div>
      		</div>
      		<br>     		
  			  <button type="button" name="confirmarAsistencia" id="confirmarAsistencia" class="btn btn-success">Confirmar asistencia</button>
          <button type="button" name="noJuega" id="noJuega" class="btn btn-danger">No quiero jugar</button>
    	</div>
  </div> 		
</template>