<template name="cargarCancha">
    <div class = "container-fluid">       
        <!--Alert que muestra recinto creado correctamente-->
        <div class="alert alert-success alert-dismissible" role="alert" id="alertRecintoCreado" style="display: none; margin-top: -20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Recinto creado</strong> correctamente!
        </div>

        <!--Alert que muestra numero de cancha existente-->
        <div class="alert alert-warning alert-dismissible" role="alert" id="alertCanchaExistente" style="display: none; margin-top: -20px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            El/Los numero/s siguiente/s esta/n ocupados {{ocupada}}. Ingrese otro número de cancha.
        </div>

        {{#autoForm collection="Canchas" id="cargarCancha" type="insert"}}
        <fieldset>
            <legend style="font-size: 0px;"><br><h2 align="center">Crear cancha</h2></legend>
            <div class="row">
                {{> afQuickField name='recintoId' value=this._id}}
                <div class="col-sm-6 col-md-6">
                    {{> afQuickField name='numero'}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    {{> afQuickField name='jugadores.cantidad_de_jugadores' options="allowed" noselect=true}} 
                </div>
                <div class="col-sm-6 col-md-6">
                    {{> afQuickField name='tipo_cancha.tipo_de_cancha' options="allowed" noselect=true}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    {{> afQuickField name='estado_cancha.estado_de_cancha' options=options noselect=true}}
                </div>
                <div class="col-sm-6 col-md-6">
                    {{> afQuickField name='descripcion' rows=4}}
                </div>
            </div>
        </fieldset>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-1 col-md-1">
                <button type="submit" class="btn btn-propio" style="margin-bottom: 10px;">Cargar</button>
            </div>
            <div class="col-sm-1 col-md-1">
                <button type="button" class="btn btn-propioV" name = "cancelar" id="cancelar">Cancelar</button>
            </div>
        </div>
        {{/autoForm}}
	</div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 widget">
                    <p>Los campos que contienen (*) son obligatorios.</p>
                </div>
            </div>
        </div>  
    </footer>  
</template>
