<template name="editCancha">
	<div class="container">
    {{#if canchasRecinto}}
        {{#autoForm collection="Canchas" doc=this id="updateCancha" type="update" }}

            <h4>Numero de cancha</h4>

            {{> afQuickField name='numero'}}

            <h4>Cantidad de jugadores</h4>

            {{> afQuickField name='jugadores.cantidad_de_jugadores' options=cantJugadores}}


            <h4>Tipo de cancha</h4>

            {{> afQuickField name='tipo_cancha.tipo_de_cancha' options=tipoCancha}}

            <h4>Estado cancha</h4>

            {{> afQuickField name='estado_cancha.estado_de_cancha' options=estadoCancha}}

            <h4>Descripcion</h4>

            {{> afQuickField name='descripcion'}}
                        
            <br>                        
                <button type="submit" name="actualizarCancha" id="actualizarCancha" class="btn btn-success">Actualizar</button>                    
        {{/autoForm}} 
     {{/if}}           
     </div>

</template>