<template name="editCancha">
	<div class="container-fluid">
        {{#if canchasRecinto}}
            {{#autoForm collection="Canchas" doc=this id="updateCancha" type="update" }}
            <legend style="font-size: 0px;"><br><h2 align="center">Editar cancha</h2></legend>
                 <div class="row">
                    <div class="col-sm-4 col-md-4">
                        {{> afQuickField name='jugadores.cantidad_de_jugadores' options=cantJugadores}}
                    </div>
                    <div class="col-sm-4 col-md-4">
                        {{> afQuickField name='tipo_cancha.tipo_de_cancha' options=tipoCancha}}
                    </div>
                    <div class="col-sm-4 col-md-4">
                        {{> afQuickField name='estado_cancha.estado_de_cancha' options=estadoCancha}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-md-8">
                        {{> afQuickField name='descripcion'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1">
                        <button type="submit" name="actualizarCancha" id="actualizarCancha" class="btn btn-propio">Actualizar</button>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-propioV" name = "cancelar" id="cancelar">Cancelar</button>
                    </div>
                </div>
            {{/autoForm}} 
        {{/if}}           
    </div>
</template>