<template name="modificarCancha">
	<div class="container">
		 <div class="navbar">
            <h2 align="center">
            Modificar cancha
            </h2>
        </div>       
           
               
            <h3>Seleccione un recinto:</h3>        
   <!-- Boton desplegable -->
            <div class="input-group-btn">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleccionar recinto <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {{#each recinto}}
                            
                        <li><a data-for-recinto = "#nombreRecinto" data-recinto-id="{{_id}}">{{this.nombre_recinto}}</a></li>
                            
                        {{/each}}
                             
                    </ul>
            </div>
         <br>
         <div class = "container">
		  <!-- Aca empieza unavez que se selecciona un recinto -->

        {{# if recintoSeleccionado}} 

        <h2>Recinto :{{recintoSeleccionado.nombre_recinto}}</h2>
            <h3>Canchas cargadas: <!--{{countCanchas}}--></h3>
            <h3>Modificar cancha.</h3>

		  {{#each canchasRecinto}}
			<div class="form-offline">
            {{#autoForm collection="Canchas" doc=this id=updateFormName type="update" }}

                <h4>Numero de cancha</h4>

                    {{> afFieldInput name='numero'}}

                <h4>Cantidad de jugadores</h4>

                    {{> afFieldInput name='jugadores.cantidad_de_jugadores' options=cantJugadores}}
                        

                <h4>Tipo de cancha</h4>

                    {{> afFieldInput name='tipo_cancha.tipo_de_cancha' options=tipoCancha}}

                <h4>Estado cancha</h4>

                    {{> afFieldInput name='estado_cancha.estado_de_cancha' options=estadoCancha}}

                <h4>Descripcion</h4>

                    {{> afFieldInput name='descripcion'}}
                        <!--
                    {{> afFieldInput name='recintoId' value=recinto._id}}
                        hay q setearle de nuevo el id del recinto?-->
                        <br>                        
                    <button type="submit" class="btn btn-success">Actualizar</button>
                        
                    
            {{/autoForm}}
            </div>
           {{/each}}
        
        {{/if}}
        </div>
        </div>
	

</template>

 <!--
        {{#each canchas}}
        {{> quickForm collection="Canchas" doc=this id="modificarCancha" type="update"}}
        {{/each}}
        -->