<template name="dashboard">
    <div class="container-fluid">
      <br>
        <div class="row">
		        <div class="col-sm-4 col-md-3 sidebar">
                <div class="list-group">
                  <a class="list-group-item">
                       {{>search}}
                  </a>
                  <a href="#" name="crearReserva" id="crearReserva" class="list-group-item">
                      <i class="fa fa-file-text-o"></i> Crear reserva
                  </a>
                  <a href="#" class="list-group-item" name="reservasHoy" id="reservasHoy">
                      <i class="fa fa-folder-open-o"></i> Reservas hoy
                  </a>
                  <a href="#" class="list-group-item">
                      <i class="fa fa-folder"></i> Visualizar proximas reservas
                  </a>
                  <a href="#" name="gestionCanchas" id="gestionCanchas" class="list-group-item">
                      <i class="fa fa-comment-o"></i> Gestionar canchas
                  </a>
                  <a href="{{pathFor 'uploadImages'}}" class="list-group-item">
                      <i class="fa fa-user"></i> Images
                  </a>
                  
                  <a href="#" class="list-group-item">
                      <i class="fa fa-bar-chart-o"></i> Estadisticas
                  </a>
                </div>        
            </div>
            <div class="col-sm-8 col-md-9">
              {{#if tablaReserva}}
                {{> reservasHoy}}
              {{/if}}

              {{#if abrirReserva}}
                {{> crearReserva}}
              {{/if}}

              {{#if abrirCanchas}}
                {{> gestionCancha}}
              {{/if}}
            </div>
        </div>
    </div>
</template>