<template name = "crearReserva">
	<div class="container-fluid">
        <legend><h2>Crear cancha</h2></legend>
	    <div class="form-group">
	    	<form class="reserva">	    		
	    			<div class="row">
	    				<div class="form-group  {{errorClass 'nombreDeLaReserva'}}">	
		    				<div class="span5 col-md-11">
						    	<label class="control-label" for="nombreDeLaReserva" >Nombre de la reserva</label>
							    <div class="controls">
							    	<input type="text" name="nombreDeLaReserva" id="nombreDeLaReserva" class="form-control" placeholder="Nombre de la reserva" aria-describedby="basic-addon1">
							    	<span class="help-block">{{errorMessage 'nombreDeLaReserva'}}</span>			
								</div>
							</div>
						</div>		
					</div>
					<div class="row">
	    				<div class="form-group  {{errorClass 'nombreDelCliente'}}">	
		    				<div class="span5 col-md-11">
						    	<label class="control-label" for="nombreDelCliente" >Nombre del cliente</label>
							    <div class="controls">
							    	<input type="text" name="nombreDelCliente" id="nombreDelCliente" class="form-control" placeholder="Nombre del cliente" aria-describedby="basic-addon1">
							    	<span class="help-block">{{errorMessage 'nombreDelCliente'}}</span>				
								</div>
							</div>
						</div>		
					</div>	
					<div class="row">	
    	              	<div class="span5 col-md-5">
					    	<div class="form-group  {{errorClass 'nombreCancha'}}">
						     	 <label class="control-label" for="nombreCancha">Seleccionar una cancha</label>
						     	 <div class="controls">
						     	 	<div class="input-group">
						     	 		<div class="input-group-btn">
	                             			 <button type="button" class="btn btn-propio dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Seleccionar cancha <span class="caret"></span></button>
	                              				<ul class="dropdown-menu">
	                              				{{#each cancha}}
	                  
	                             				 <li><a data-for-cancha = "#nombreCancha">{{this.numero}}</a></li>
	                  
	                              				{{/each}}    
	                              				</ul>
	                          			</div>
						          		<input name="nombreCancha" id="nombreCancha" type="button" value="" class="form-control"/>	
						          	</div>	
						          	<span class="help-block">{{errorMessage 'nombreCancha'}}</span>
						     	</div>
						   	</div>
						</div>   	 	 
				  	</div>
				  	<div class="row">		    	
			    		<div class="span5 col-md-5">
					      	<label class="control-label" for="datetimepicker" >Elegí un día para jugar</label>
					      	<div class="controls">
					      		<div class='input-group date'>
					        	  	<input name="datetimepicker" id="datetimepicker" type="button" value="" class="form-control"/>
					        	  	<span class="input-group-addon" id="datetimepicker-handle" data-picker-handle="#datetimepicker">
					        	  		<i class="glyphicon glyphicon-calendar"></i>
					        	  	</span>	
					        	</div>  	
					     	</div>
					    </div> 	 				    
				    	<div class="span5 col-md-1">
				    	</div>				    
				    	<div class='span5 col-md-5'>
					     	<label class="control-label" for="datetimepicker3">Elegí un horario para jugar</label>
					     	<div class="controls">
					     		<div class='input-group date'>
					          		<input name="datetimepicker3" id="datetimepicker3" type="button" value="" class="form-control"/>
					          		<span class="input-group-addon" data-picker-handle="#datetimepicker3">
					          			<i class="glyphicon glyphicon-time"></i>
                            		</span>
					          	</div>	
					        </div>
					    </div> 				   
					</div>	
				 	<br>  
					<input type="submit" value="Crear reserva"  class="btn btn-propio"/>
					<button type="button" class="btn btn-propio" name = "cancelar" id="cancelar">Cancelar</button>
			</form>
		</div>
	</div>	     
</template>     