<template name="uploadImages">
	<div class="container">
		  <h1>Imagenes Establecimiento</h1>
      <!--{{#if countImages < 5 }} -->
      <input type="file" id="file">
      <input type="submit" value="Upload">
      <!--{{/if}}-->
      <div>
       Cantidad de imagenes subidas: {{countImages}}
      </div>
      
      <div>
        {{#each images}} 
          <div>   
            <img src="{{this.url store='images'}}" alt="Imagen :{{this.name }}" height="420" width="600" class="avatar">
            <br>
            Eliminar {{this.name}}: {{> FS.DeleteButton class="btn btn-danger btn-xs"}}
          </div>  

          <br>
        {{/each}}
       </div> 
	</div>

 </template>


 