<template name = "crearRecinto">
	<div class = "container">
			
  		{{#autoForm collection="Recinto" id="crearRecinto" type="insert"}}
    <fieldset>
      
      <legend><h2>Crear recinto</h2></legend>
      
      {{> afQuickField name='nombreRecinto'}}

      {{> afQuickField name='direccion'}} 

      {{> afQuickField name='altura'}}

      {{> afQuickField name='fechaDeRegistroAplicacion'}}

      {{> afQuickField name='fechaDeApertura'}}     
     
    </fieldset>
    <button type="submit" class="btn btn-success">Crear</button>
  {{/autoForm}}
	
	</div>
</template>