<template name="gestionarReserva">
    <div class="container-fluid">
        <legend><h2>Tus reservas</h2></legend>
        <div class="row">               
            <div class="span5 col-md-5">
                <label class="control-label" for="datetimepicker" >Elegí un día para filtrar</label>
                <div class="controls">
                    <div class='input-group date'>
                        <input name="datetimepicker" id="datetimepicker" type="button" value="" class="form-control"/>
                        <span class="input-group-addon" id="datetimepicker-handle" data-picker-handle="#datetimepicker">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </span> 
                    </div>      
                </div>
            </div>  
        </div>
        <br>
        <div class="row">
        	<div class="table-responsive">        
                <table class="table table-striped" name="tabla">
                    <thead>
                        <tr>
                            <th><h4 align="center">Usuario</h4></th>					
                            <th><h4 align="center">Dia</h4></th>
                            <th><h4 align="center">Cancha</h4></th>
                            <th><h4 align="center">Hora</h4></th>
                            <th><h4 align="center">Editar</h4></th>
                            <th><h4 align="center">Jugada</h4></th>
                            <th><h4 align="center">Cancelar</h4></th>
                    	</tr>
                    </thead>
                    <tbody>
                        {{#each reservas}}
                            <tr>
                                <td><h5 align="center">{{this.nom_usuario}}</h5></td>
                                <td><h5 align="center">{{this.fecha_de_juego}}</h5></td>
                                <td><h5 align="center">{{this.num_cancha}}</h5></td>
                                <td><h5 align="center">{{this.hora_de_juego}}</h5></td>
                                <td class="text-center"><button type="button" name="modificarReserva" id="modificarReserva" align="center"> <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" align="center"></i></button></td>
                                <td class="text-center"><button type="button" name="partidoJugado" id="partidoJugado" align="center"> <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></button></td>
                                <td class="text-center"><button type="button" name="cancelarReserva" id="cancelarReserva" align="center"><i class="fa fa-times fa-lg" aria-hidden="true" align="center"></i></button>
                                </td>
                            </tr>
                        {{/each}}
                	</tbody>
                </table>
            </div>
        </div>    
    </div>  
</template>