<template name="reservasHoy">
	<div class="table-responsive">
        <legend><h2>Reservas para hoy</h2></legend>
        <table class="table table-hover" name="tabla" id="tabla">
            <thead class="thead-inverse">
                <tr>
                    <th><h4 align="center">Hora</h4></th>
					{{#each canchas}}
                    <th id="{{this.numero}}Cancha"> <h4 align="center">Cancha {{this.numero}}</h4> </th>
                	{{/each}}
            	</tr>
            </thead>
            <tbody>
        	</tbody>
        </table>
    </div>  
</template>