<template name="header">
<!-- Second navbar for sign in -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'Home'}}">
              <img alt="Brand" src="/logo_salepartido5.png" width="35px" height="35px" class="img-responsive" style="">
          </a> 
          <a class="navbar-brand" href="{{pathFor 'Home'}}" style=" padding: 22px 15px;">Sale Partido</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            {{#if isInRole 'player'}}
                {{#if emailsVerified}}
                  {{#if habilitado}}
                    <form class="navbar-form navbar-left">
                        <div class="form-group" style=" padding: 6px;">
                            {{> search}}
                        </div>
                    </form>

                    <li><a  href="{{pathFor 'organizarPartido'}}" style=" padding: 20px 19px;" >Organizar Partido</a></li>
                    <li class="collapse" data-toggle="collapse" href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2" style=" padding: 4px;">
                        {{> notifications}}
                    </li>
                    {{/if}}
                {{/if}}
           {{/if}}

           {{#if isInRole 'owner'}}
                <li class ="dropdown">
                    {{> notifications}}
                </li>
            {{/if}}  
                <li><a class="btn btn-inverse collapsed"  data-toggle="collapse" href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2" style=" padding: 16px 2px;" id="loginButton"> {{>loginButtons}}</a></li>
                    {{#if currentUser}}
                <li><a href="{{pathFor 'Home'}}" width="35px" height="35px">{{> gravatar}}</a></li>
                    {{/if}}
          </ul>
         
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</template>