<!--Template que muestra la barra de navegador y el boton de logeo -->
<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{{pathFor 'Home'}}">Sale Partido</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">

          <!--{{#if isInRole 'owner'}}-->
          <a class="navbar-brand" href="{{pathFor 'uploadImages'}}">Imagen</a>

          <a class="navbar-brand" href="{{pathFor 'gestionarRecintos'}}">Gestionar Recintos</a>      

          <a class="navbar-brand" href="{{pathFor 'gestionarReserva'}}">Gestionar Reservas</a> 

          <a class="navbar-brand" href="{{pathFor 'gestionRecinto'}}">Gestionar Canchas</a>

          <a class="navbar-brand" href="{{pathFor 'organizarPartido'}}" >Organizar Partido</a>
        <!--{{/if}}-->
        {{#if isInRole 'player'}}
          
        {{/if}}
        
        {{> loginButtons}}
        {{#if currentUser}}
          <a href="{{pathFor 'Home'}}">{{> gravatar}}</a> {{/if}}
        {{/if}}  
      </ul> 
    </div> 
   </div>
  </nav>
</template>
