<!--Template que muestra la barra de navegador y el boton de logeo -->
<template name="header">
  <nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid"> 
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'index'}}" >Sale Partido</a>

    </div>   
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
           
          <!-- <li><a href="{{pathFor 'uploadImages'}}">IMAGEN</a></li> -->
      
        <a class="navbar-brand" href="{{pathFor 'uploadImages'}}">Imagen</a>
      

        <a class="navbar-brand" href="{{pathFor 'gestionarRecintos'}}">Gestionar Recintos</a>

        <a class="navbar-brand" href="{{pathFor 'confirmarPartido'}}" >Confirmar Partido</a>      
      
        <a class="navbar-brand" href="{{pathFor 'organizarPartido'}}" >Organizar Partido</a>

        <a class="navbar-brand" href="{{pathFor 'pruebaCalificar'}}">CALIFICAR</a>
      
        {{> loginButtons}} 
       

        {{#if currentUser}}
          {{> gravatar}}
        {{/if}}  
    </ul> 
    </div> 
        <!--
        <li><a href="{{pathFor 'uploadImages'}}">IMAGEN</a></li>
        
        -->
      <!-- menu desplegable para GESTIONAR CANCHAS -->
        <!--
        <li class ="dropdown-menu">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Gestionar Canchas <span class="caret"></span></a>
           <ul class="dropdown-menu">
              <li><a href="{{pathFor 'cargarCancha'}}">Cargar Cancha</a></li>
              <li><a href="{{pathFor 'modificarCancha'}}">Actualizar Cancha</a></li>
              <li><a href="{{pathFor 'eliminarCancha'}}">Eliminar Cancha</a></li>
           </ul>
        </li>
        -->
        <!-- menu desplegable para GESTIONAR RECINTOS -->
        <!--
        <li class ="dropdown-menu">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestionar Recintos <span class="caret"></span></a>
           <ul class="dropdown-menu">
              <li><a href="{{pathFor 'uploadRecinto'}}">Cargar Recinto</a></li>
              <li><a href="{{pathFor 'updateRecinto'}}">Actualizar Recinto</a></li>
              <li><a href="{{pathFor 'deleteRecinto'}}">Eliminar Recinto</a></li>
           </ul>
        </li>
        -->
<!--
        <li><a href="{{pathFor 'gestionRecinto'}}">Gestionar Recinto</a></li>

         <li><a href="{{pathFor 'uploadRecinto'}}">Cargar Recinto</a></li>
-->
       
      
      <!-- Probando gravatar
        <ul class ="nav navbar-nav navbar-right">
          {{> gravatar}}
      </ul>
       --> 
     </div>

  </nav>
</template>
