<template name="editRecinto">
   <!-- <style type="text/css">
    body {background: #2b2b2b;}
    </style>-->
	  <div class="container">
        {{#if recinto}}
            {{#autoForm collection="Recintos" doc=this id="updateRecinto" type="update"}}
                <fieldset>
                    
                    <legend><br><h2>Editar recinto</h2></legend>

                        {{> afQuickField name='nombre_recinto'}}

                        {{> afQuickField name='direccion_recinto'}}

                        {{> afQuickField name='telefono_recinto.teléfono_fijo'}}

                        {{> afQuickField name='telefono_recinto.celular_1'}}

                        {{> afQuickField name='telefono_recinto.celular_2'}}

                        {{> afQuickField name='servicios.estacionamiento' options=servEstacionamiento}}

                        {{> afQuickField name='servicios.baños' options=servBaños}}

                        {{> afQuickField name='servicios.camarines' options=servCamarines}}

                        {{> afQuickField name='servicios.cantina' options=servCantina}}

                        <h3>Cambiar imágenes del recinto</h3>
          
                        {{> afQuickField name='imagen1_id' }}
                        {{> afQuickField name='imagen2_id' }}
                        {{> afQuickField name='imagen3_id' }}
                        {{> afQuickField name='imagen4_id' }}
                </fieldset>
            <button type="submit" name ="actualizarRecinto" id="actualizarRecinto" class="btn btn-propio">Actualizar</button>
      	    {{/autoForm}}
        {{/if}}
        <br>
    </div>
</template>