<template name="editRecinto">
	<div class="container">
    {{#if recinto}}
      {{#autoForm collection="Recintos" doc=this id="updateRecinto" type="update"}}
      

        	<h4>Nombre recinto</h4>
            {{> afQuickField name='nombre_recinto'}}

            <h4>Direccion</h4>
            {{> afQuickField name='direccion_recinto'}}

            <h4>Telefono fijo</h4>
            {{> afQuickField name='telefono_recinto.fijo'}}

            <h4>Telefono celular 1</h4>
            {{> afQuickField name='telefono_recinto.celular_1'}}

            <h4>Telefono celular 2</h4>
            {{> afQuickField name='telefono_recinto.celular_2'}}

            <h4>Estacionamiento</h4>
            {{> afQuickField name='servicios.estacionamiento' options=servEstacionamiento}}

            <h4>Baños</h4>
            {{> afQuickField name='servicios.baños' options=servBaños}}

            <h4>Camarines</h4>
            {{> afQuickField name='servicios.camarines' options=servCamarines}}

            <h4>Cantina</h4>
            {{> afQuickField name='servicios.cantina' options=servCantina}}

            <h3>Cambiar imágenes del recinto</h3>
              <h4>Imagen 1</h4>
              {{> afQuickField name='imagen1_id' }}
              <h4>Imagen 2</h4>
              {{> afQuickField name='imagen2_id' }}
              <h4>Imagen 3</h4>
              {{> afQuickField name='imagen3_id' }}
              <h4>Imagen 4</h4>
              {{> afQuickField name='imagen4_id' }}
           

            <br>                        
            <button type="submit" name ="actualizarRecinto" id="actualizarRecinto" class="btn btn-primary">Actualizar</button>
            
        
      	{{/autoForm}}
    {{/if}}
    </div>

</template>