<template name="showRecinto">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
					<h1>Nombre recinto:{{recinto.nombre_recinto}} </h1>
					<br>
					{{#if promedio}}
						Promedio de calificaciones: {{promedio}}
						{{> starsRating rating=promedio class="estrella" size='sm'}}
								
					{{else}}
						{{> starsRating rating=0 class="estrella" size='sm'}}
						<br>
					{{/if}}		
					{{#if isOwner}}
							{{#if promedio}}
								{{#if countUsers}}
									Cantidad de usuarios que han calificado : {{countUsers}}
								{{else}}
									Cantidad de usuarios que han calificado : 0
								{{/if}}
								<br>
							{{else}}
								Ningun usuario ha votado todavía.
								<br>
							{{/if}}
					{{else}}
														
							{{#if tieneVoto}}
								Ya votaste este recinto...
							{{else}}
								¿Desea calificar al recinto?
								{{> starsRating id='rating' class="estrella" mutable=true size='lg'}}
							{{/if}}
							
					{{/if}}
						<br>
						Direccion: {{recinto.direccion_recinto}}
						<br>
						Telefono fijo: {{recinto.telefono_recinto.fijo}}
						<br>

						Telefono celular1: {{recinto.telefono_recinto.celular_1}}
						<br>
						Telefono celular2: {{recinto.telefono_recinto.celular_2}}
						<br>
						Servicios
							<br>
							Estacionamiento: {{recinto.servicios.estacionamiento}}
							<br>
							Baños: {{recinto.servicios.baños}}
							<br>
							Camarines: {{recinto.servicios.camarines}}
							<br>
							Cantina: {{recinto.servicios.cantina}}
							<br>
						Canchas:
						<div>
							{{#if cancha}}
								{{#each cancha}}
							<div>
								NUMERO: {{this.numero}}
								<br>
								CANTIDAD DE JUGADORES: {{this.jugadores.cantidad_de_jugadores}}
								<br>
								TIPO DE CANCHA: {{this.tipo_cancha.tipo_de_cancha}}
								<br>
								ESTADO CANCHA: {{this.estado_cancha.estado_de_cancha}}
								<br>
								DESCRIPCION: {{this.descripcion}}
							</div>
							<br>
								{{/each}}
							{{/if}}
						</div>
			</div>
		
			<div class="col-lg-6">
				
				<div id="contenedor">
				<div id="myCarousel" class="carousel slide" data-ride ="carousel">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
							<li data-target="#myCarousel" data-slide-to="3"></li>
							<!-- <li data-target="#myCarousel" data-slide-to="4"></li> -->
						</ol>
						<!-- Carousel items -->
						<div class="carousel-inner" role="listbox">
							<!-- <div class="active item"><img  src="img/banner598x374-1.jpg" alt="banner1" /></div> -->
							<div class="active item"><img src={{imagen1}} alt="Imagen1" height="420" width="600" class="img-responsive"></div>
							<div class="item"><img src={{imagen2}} alt="Imagen2" height="420" width="600" class="img-responsive"></div>
							<div class="item"><img src={{imagen3}} alt="Imagen3" height="420" width="600" class="img-responsive"></div>
							<div class="item"><img src={{imagen4}} alt="Imagen4" height="420" width="600" class="img-responsive"></div>
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev"><!-- &lsaquo; -->
							<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class ="sr-only">Anterior</span>
						</a>
						<a class="carousel-control right" href="#myCarousel" role="button" data-slide="next"><!-- &rsaquo; -->
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class ="sr-only">Próxima</span>
						</a>
					</div>
				</div>
			</div>
	</div> 

	{{#if isOwner}}
		<button class="btn btn-primary" id="login-buttons-update-recinto"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>

	<br><br> 
	{{else}} 
		{{> enterCommentsForEnclosures}}
	<br><br>
	 {{/if}} 
	 	{{> showCommentsEnclosure}}
	</div>
</template>