<template name="updateRecinto">
	<div class="container">
	     <h2>Actualizar Recintos </h2>
           <h3>Recintos que admnistra</h3>            
   
              {{#each recinto}}
                Nombre:{{this.nombre_recinto}}
                Fecha de creación:{{this.createdAt}}
                Promedio de calificación: {{calificacion}}
                <button type="button" name="editRecinto" id="editRecinto">
                Editar
                </button>
                {{#quickRemoveButton collection="Recintos" _id=this._id onError=onError onSuccess=onSuccess beforeRemove=beforeRemove class="btn btn-danger"}}Eliminar{{/quickRemoveButton}}
                <br>
                <br>
              {{/each}}
     
  

           
	</div>
</template>