<template name="uploadRecinto">
	<div class="container">
		{{#autoForm collection="Recintos" id="uploadRecinto" type="insert" }}
	<fieldset>
      <legend><h2>Cargar Recinto</h2></legend>

      	{{> afQuickField name='nombre_recinto'}}

      	{{> afQuickField name='direccion_recinto'}}

      	{{> afQuickField name='telefono_recinto.fijo'}} 

      	{{> afQuickField name='telefono_recinto.celular_1'}}

      	{{> afQuickField name='telefono_recinto.celular_2'}}

      	{{> afQuickField name='servicios.estacionamiento' options="allowed" noselect=true}}

      	{{> afQuickField name='servicios.baños' options="allowed" noselect=true}}

      	{{> afQuickField name='servicios.camarines' options="allowed" noselect=true}}

      	{{> afQuickField name='servicios.cantina' options="allowed" noselect=true}}

      	<h3>Subir imagenes del recinto</h3>
        <h4>Imagen 1</h4>
      	{{> afQuickField name='imagen1_id' }}
        <h4>Imagen 2</h4>
        {{> afQuickField name='imagen2_id' }}
        <h4>Imagen 3</h4>
        {{> afQuickField name='imagen3_id' }}
        <h4>Imagen 4</h4>
        {{> afQuickField name='imagen4_id' }}

        
        <h3>Cargar canchas del recinto</h3>
        <p>poner en otra ventana</p>
       <!-- ANDA PERO MUESTRA campos de otra manera 

        {{> afArrayField name="canchas_recinto"}}
        -->
      <!--  anda. pero no se guarda y no podes seleccionar de dos canchas distintas los campos 
        {{#afEachArrayItem name="canchas_recinto"}}
            <button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
            {{> afQuickField name='canchas_recinto.$.numero' }}

            {{> afQuickField name='canchas_recinto.$.jugadores.cantidad_de_jugadores' options="allowed" noselect=true}} 

            {{> afQuickField name='canchas_recinto.$.tipo_cancha.tipo_de_cancha' options="allowed" noselect=true}}

            {{> afQuickField name='canchas_recinto.$.estado_cancha.estado_de_cancha' options="allowed" noselect=true}}

        {{/afEachArrayItem}}
          <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="canchas_recinto"><span class="glyphicon glyphicon-plus"></span></button>
      -->
    </fieldset>
    <button type="submit" class="btn btn-primary">Cargar</button>
  {{/autoForm}}
  		<!--{{#each imagenes}}
  			<img alt=”{{this.name}}” src=”{{this.url}}”>
  		{{/each}}
  	
    <div>
     {{imagenes}}
       
    </div>
    --> 
    
	</div>


</template>
