<template name="uploadRecinto">
	<div class="container">
    <div class="well">	
      {{#autoForm collection="Recintos" id="uploadRecinto" type="insert" }}
      <fieldset>
          <legend><h2 align="center">Cargar Recinto</h2></legend>

          	{{> afQuickField name='nombre_recinto'}}

          	{{> afQuickField name='direccion_recinto'}}

            {{> afQuickField name='altura_recinto'}}

          	{{> afQuickField name='telefono_recinto.numero_fijo'}} 

          	{{> afQuickField name='telefono_recinto.celular_1'}}

          	{{> afQuickField name='telefono_recinto.celular_2'}}

          	{{> afQuickField name='servicios.estacionamiento' options="allowed" noselect=true}}

          	{{> afQuickField name='servicios.baños' options="allowed" noselect=true}}

          	{{> afQuickField name='servicios.camarines' options="allowed" noselect=true}}

          	{{> afQuickField name='servicios.cantina' options="allowed" noselect=true}}

          	<h3 align="center">Subir imagenes del recinto</h3>
            
          	{{> afQuickField name='imagen1_id' }}
            
            {{> afQuickField name='imagen2_id' }}
            
            {{> afQuickField name='imagen3_id' }}
            
            {{> afQuickField name='imagen4_id' }}

          <!--  <h3>Cargar canchas del recinto</h3>
            {{> afQuickField name='canchas_recinto.numero' }}

            {{> afQuickField name='canchas_recinto.jugadores.cantidad_de_jugadores' options="allowed" noselect=true}} 

            {{> afQuickField name='canchas_recinto.tipo_cancha.tipo_de_cancha' options="allowed" noselect=true}}

            {{> afQuickField name='canchas_recinto.estado_cancha.estado_de_cancha' options="allowed" noselect=true}}
          -->
        </fieldset>
        <button type="submit" class="btn btn-primary">Cargar</button>
      {{/autoForm}}
      		<!--{{#each imagenes}}
      			<img alt=”{{this.name}}” src=”{{this.url}}”>
      		{{/each}}
      	
        <div>
         {{imagenes}}
           
        </div>
        --> 
    </div>
	</div>
</template>
