<template name="dashboardAdmin">
  <div class="container">
    <div>            
      <h1>Usuarios dueños</h1>
      {{#each usuarioDuenos}}
        <div class="span5 col-md-6">
              <h4>Nombre de usuario: <strong>{{this.profile.name}}</strong></h4>
            </div>
            <div class="span5 col-md-6">
              
              <button type="button" name= "cambiarRoleAPlayer" id="cambiarRoleAPlayer" >Hacer player</button>
              <button type="button" name= "eliminarPlayer" id="eliminarPlayer">Eliminar usuario</button>
            </div>
      {{/each}}
    </div>
    <br>
    <div>      
    <h1>Usuarios jugador</h1>
    {{#each usuarioJugador}}
      <div class="row">
          <div class="span5 col-md-6">
            <h4>Nombre de usuario: <strong>{{this.profile.name}}</strong></h4>
          </div>
          <div class="span5 col-md-6">
            
            <button type="button" name= "cambiarRoleADueno" id="cambiarRoleADueno">Hacer dueño</button>
            <button type="button" name= "eliminarDueno" id="eliminarDueno">Eliminar usuario</button>
          </div>
      </div>
    {{/each}}
    </div>
  </div>
</template>