<template name = "confirmarPartido">
	<div class="container">
		<div class="navbar">
			<h2 align="center">
				Confirmar partido
			</h2>
		</div>
		<div class="row">
  			<div class="col-md-6">
  				<h4 align="center">
  					Equipo A
  				</h4>
  				<div class="col-md-10" align="left">
  					<textarea class="form-control" rows="5">
  					
  					</textarea>
  				</div>
  			</div>	
  			<div class="col-md-6">
  				<h4 align="center">
  					Equipo B
  				</h4>
  				<div class="col-md-10" >	
  					<textarea class="form-control" rows="5">
  					
  					</textarea>				
  				</div>
  			</div>
  		</div>	
  	</div>	
</template>