<template name = "organizarPartido">
	<div class="container">
		<h1>
		Organizar Partido
		</h1>
		<div class="form-group">
    	    <label class="control-label" for="title">Arma tu equipo
      		</label>
       		<div class="controls">
         	 	<input name="title" id="title" type="text" value="{{title}}" placeholder="Nombre de tu equipo" class="form-control"/>
         	    <br>
         	    <input name="title" id="title" type="text" value="{{title}}" placeholder="Capitán" class="form-control"/>
      		</div>
      		<label class="control-label" for="title">Invita amigos
      		</label>
      		<div>
       			<button type="button" class="btn btn-primary">Agregar amigos</button>
 			</div>
 			<br>     
    	 	<div class="controls">
            <input name="title" id="title" type="text" value="{{title}}" placeholder="Lista de amigos" class="form-control"/>
      	 	</div>
   		</div>
    </div>
</template>