<template name = "organizarPartido">
	<div class="container">
    <div class="navbar">
  		<h2 align="center">
	     	Organizar Partido
		  </h2>
    </div>  
		<div class="form-group">
       		<div>
      			<label class="control-label" for="title">Selecciona una cancha
      			</label>
      		</div>
       		<div>
       			<button type="button" class="btn btn-success">Seleccionar cancha
       			</button>  		
         	</div>
         	<br>	
         	<div class="controls">
         		<input name="title" id="title" type="text" value="{{title}}" placeholder="Cancha a jugar" class="form-control"/>
           		<br>
           	</div>     		
          	<div>
      			<label class="control-label" for="title">Invitar amigos
      			</label>
      			<br>
      		</div>
      		<div>	
      			<button type="button" class="btn btn-success">Agregar amigos
      			</button>
 			</div>     
 			<br>
    	 	<div class="controls">
            	<input name="title" id="title" type="text" value="{{title}}" placeholder="Lista de amigos" class="form-control"/>
            	<br>
       	 	</div>
       	 	<div>
      	 		<button type="button" class="btn btn-success">¿Querés que algún amigo pueda agregar a sus amigos? 	 		
      	 		</button>
      	 	</div>
      	 	<br>
       	 	<div>
      	 		<button type="button" class="btn btn-success">Enviar notificación      	 		
      	 		</button>
      	 	</div>
   		</div>
    </div>
</template>